@model List<ViolazioneImportoAlta>

@{
    ViewData["Title"] = "Violazioni con importo alto";
}

<div class="container">
    <h2>Violazioni con importo superiore a 400 euro</h2>
    <table class="table table-info mt-3">
        <thead>
            <tr>
                <th>Id Violazione</th>
                <th>Importo</th>
                <th>Data Violazione</th>
                <th>Decurtamento Punti</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var verbale in Model)
            {
                if (Model.IndexOf(verbale) % 2 == 0) 
                {
                    <tr class="table-warning">
                        <td>@verbale.IdAnagrafica</td>
                        <td>@verbale.Importo.ToString("0.00")</td>
                        <td>@verbale.DataViolazione</td>
                        <td>@verbale.DecurtamentoPunti</td>
                    </tr>
                }
                else 
                {
                    <tr class="table-info">
                        <td>@verbale.IdAnagrafica</td>
                        <td>@verbale.Importo.ToString("0.00")</td>
                        <td>@verbale.DataViolazione</td>
                        <td>@verbale.DecurtamentoPunti</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>